html(lang='en')
  head
    title Jade
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://bootswatch.com/cosmo/bootstrap.min.css')
    link(rel='stylesheet', href='css/roster.css')
  body
    .container
      .row
        br
        br
        .col-lg-4.col-lg-push-4
          input#search.form-control(type='search', name='search', value='', placeholder='Search')
        br
        br
      .row
        .col-lg-12
          table#roster-table.table.table-bordered
            thead
              tr.bg-primary
                th(style='width: 180px; text-align: left;') Employees
                th Mon
                th Tues
                th Wed
                th Thurs
                th Fri
              tbody.context
                each user in users
                    tr
                      td.info(style='text-align: left;') #{user.name}
                      td
                        span.initials(data-toggle='tooltip', data-placement='right', title='Robert Clarke') RC 
                        span.hidden.fullName
                      td
                        span.hidden.fullName
                      td
                        span.hidden.fullName
                      td
                        span.hidden.fullName
                      td
                        span.initials(data-toggle='tooltip', data-placement='right', title='Lora Medoro') LM 
                        span.hidden.fullName Lora Medoro
    //- script(src='//rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js')
    //- script(src='https://cdn.jsdelivr.net/mark.js/8.6.0/jquery.mark.min.js')
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/roster.js')